.list {
  position: relative;
  max-width: 400px;
}

.trigger {
  width: 100%;
  margin: 0;
  padding: 5px 16px;

  background: none;
  border: none;
  outline: none;
}

.button {
  width: 100%;
}

.options {
  position: absolute;
  z-index: 100;

  background: var(--dark-bg-redesigned);
  border-radius: 12px;
  box-shadow: 0 0 15px var(--dark-bg-redesigned);
}

.option {
  cursor: pointer;
  padding: 10px 20px;
  list-style: none;

  &:hover {
    background: var(--light-bg-redesigned);
  }
}

.readonly {
  opacity: 0.5;
}

.selected {
  background: var(--light-bg-redesigned);
}
