.Popover {
  position: relative;
}

.button {
  cursor: pointer;

  margin: 0;
  padding: 0;

  background: none;
  border: none;
  outline: none;
}

.items {
  position: absolute;
  z-index: 1000;

  overflow: hidden;

  padding: 10px 25px;

  background: var(--card-bg);
  border-radius: 8px;
}
