.app_blue_theme {
  --bg-color: #f4f5fb;
  --inverted-bg-color: #3b4dff;
  --primary-color: #3b4dff;
  --secondary-color: #14b5ff;
  --inverted-primary-color: #f4f5fb;
  --inverted-secondary-color: #f4f5fb;

  // code
  --code-bg: #fff;

  // card
  --card-bg: #dbdce0;
}
