.app_blue_theme {
  --bg-color: #f4f5fb;
  --inverted-bg-color: #3b4dff;
  --primary-color: #3b4dff;
  --secondary-color: #14b5ff;
  --inverted-primary-color: #f4f5fb;
  --inverted-secondary-color: #f4f5fb;

  // code
  --code-bg: #fff;

  // card
  --card-bg: #dbdce0;

  // list box
  --list-box-bg: #dbdce0;

  // redesigned
  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accept-redesigned: #1d59ff;
}
