.ArticleDetailsPage {
  position: relative;
}

.commentTitle {
  margin-top: 30px;
}

.recommendations {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.additionInfo {
  width: 264px;
}
