.Button {
  cursor: pointer;

  display: flex;
  align-items: center;

  padding: 6px 14px;

  color: var(--text-redesigned);

  transition: opacity 0.3s;

  &:disabled {
    user-select: none;
    opacity: 0.5;
  }

  .addonLeft svg,
  .addonRight svg {
    color: var(--hint-redesigned);
  }

  &:hover {
    color: var(--accept-redesigned);

    .addonLeft svg,
    .addonRight svg {
      color: var(--accept-redesigned);
    }
  }
}

.withAddon {
  padding: 0 16px;
}

.clear {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.filled {
  border: none;
  border-radius: 34px;
  outline: none;

  &.normal {
    background: var(--light-bg-redesigned);
  }

  &.success {
    background: var(--save-redesigned);
  }

  &.error {
    background: var(--cancel-redesigned);
  }
}

.outline {
  background: none;
  border-radius: 34px;

  &.normal {
    border: 2px solid var(--icon-redesigned);

    &:hover {
      border: 2px solid var(--accept-redesigned);
    }
  }

  &.success {
    border: 2px solid var(--save-redesigned);

    &:hover {
      color: var(--save-redesigned);
      opacity: 0.7;
    }
  }

  &.cancel {
    border: 2px solid var(--cancel-redesigned);

    &:hover {
      color: var(--cancel-redesigned);
      opacity: 0.7;
    }
  }
}

.addonLeft,
.addonRight {
  display: flex;
}

.square {
  padding: 0;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font: var(--font-m-redesigned);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font: var(--font-l-redesigned);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-xl-redesigned);
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.full-width {
  width: 100%;
}
