.InputWrapper {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 8px 14px;

  border: 2px solid var(--icon-redesigned);
  border-radius: 48px;
}

.label {
  white-space: nowrap;
}

.addonLeft,
.addonRight {
  display: flex;
}

.withAddonLeft {
  padding-left: 8px;
}

.withAddonRight {
  padding-right: 8px;
}

.input {
  width: 100%;

  color: var(--text-redesigned);

  appearance: none;
  background: none;
  border: none;
  outline: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }

  &::placeholder {
    color: var(--hint-redesigned);
  }
}

.readonly {
  opacity: 0.5;
}

.focused {
  border: 2px solid var(--accept-redesigned);

  .addonLeft svg,
  .addonRight svg {
    color: var(--accept-redesigned);
  }
}

.s {
  height: 32px;
}

.m {
  height: 38px;
}

.l {
  height: 44px;
}
